// font
.font--size--m {
    font-size: 16px;
}
.font--size--s {
  font-size: 13px;
}
.font--size--xs {
  font-size: 10px;
}
.font--center {
  text-align: center;
}
.font--grey {
  color: var(--grey);
}