:root {
  --primary: #3C71FF;
  --secondary: #F1F5FF;
  --third: #757575;
  --deco: #4AE7A5;
  --warning: #D71920;
  --warning-light: #F5C4C6;
  --grey: #ABABAB;
}

*{
  box-sizing: border-box;
  line-height: 1.25;
}

body {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: Interstate;
  font-size: 14px;
  font-weight: 400;
}

#app {
  width: 100%;
}

// common
a, button {
  text-decoration: none;
  color: #000;
  transition: all .3s;
}
button {
  border: 0;
}
p {
  margin: 0;
}
.input {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 12px 10px;
  border: 0;
  background-color: var(--secondary);
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  &--warning {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid var(--warning);
    border-radius: 4px;
  }
  &--title {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--third);
    transition: all .3s;
  }
  &--box {
    padding: 0;
    width: 100%;
    font-size: 14px;
    border: 0;
    background-color: transparent;
    outline: none;
    &:focus + span, &:valid + span{
      font-size: 11px;
      top: 8px;
      transform: none;
    }
  }
}


// display
.display--none {
  display: none;
}
.display--block {
  display: block;
}


// grid
.grid--column {
  grid-column: 1/3;
}

// bg
.bg--grey {
  background-color: var(--grey) !important;
}

@import '../scss/font.scss';
@import '../scss/link.scss';